#maincontent{
    margin-left:17px !important;
}

.error{
    color:red;
}

.event{
    font-size: 20px;
    font-weight: 700;
    color: cornflowerblue;
}

.attendee{
    font-size: 20px;
    font-weight: 700;
    color: darkturquoise;
    
}
.listbtn{
    margin-left: 70px;
}
.smtbtn{
margin-left: 33px;
}