.info{
    font-size: 24px;
    color: green;
    font-weight: 700;
}

.subscribe{
    float:right;
}
.btn{
    vertical-align: bottom !important;
    line-height: 1.1 !important;
}

.subevent{
    margin-left: 517px;
}

.subscrptn{
font-size: 18px;
color: darkblue;
font-weight: 700;
background-color: aquamarine;
}